:root {
    --black: #0e0b16;
    --fucsia: #a239ca;
    --violeta: #4717f6;
    --stark: #e7dfdd;
}

section {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--stark);
}

.bg-color {
    background-color: var(--black);
}

.nav-item .nav-link {
    color: var(--stark) !important;
}

.navbar-light .navbar-toggler {
    border-color: darkorchid;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.contenedor-inicio {
    background-image: linear-gradient(rgba(2, 17, 100, 0.7),rgba(2, 17, 20, 0.5)),url(images/fondo.jpg);
    background-size: cover;
    background-position-x: -100px;
    height: 60vh;
    text-align: center;
}

.contenedor-inicio p {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--stark);
}

.contenedor-inicio h1 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--stark);
}

.contenedor-inicio h1 span {
    text-shadow: -4px 3px 0px #000000;
}

.color-boton {
    background-color: var(--fucsia);
    color: var(--stark);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.contenedor-inicio .color-boton:hover {
    background-color: var(--violeta);
}

.logo img {
    width: 250px;
}

.section-2 {
    background-color: var(--stark);
    font-size: 1.2rem;
}

.section-2 h2 {
    color: var(--black);
    font-weight: 600;
}

.section-2 span {
    color: var(--violeta);
}

.section-2 p, .section-2 b {
    color: var(--black);
}

.section-3, .section-8 {
    background: linear-gradient(rgba(2, 17, 100, 0.7),var(--stark));
    background: -prefix-linear-gradient(white,blue);
}

.section-3 h2 {
    color: var(--stark);
    font-weight: 600;
}

.section-3 p, .section-7 p {
    font-size: 1.15rem;
}

.section-4 h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: var(--black);
}

.section-4 h2 span {
    color: var(--violeta);
}

.section-5 {
    height: 45vh;
    background-image: linear-gradient(rgba(2, 17, 100, 0.7),rgba(2, 17, 20, 0.5));
}

.section-5 h2{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: var(--stark);
}

.section-5 h5 {
    color: var(--stark);
}

.section-6 h2, .section-7 h2{
    color: var(--black);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.section-7 {
    background-color: whitesmoke;
}

.section-7 .contenedor-img img{ 
    width: 100%;
}

.section-8 .sub {
    color: var(--stark);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.section-8 h2 {
    color: var(--stark);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.section-8 p {
    font-size: 1.25rem;
}

.section-8 p b {
    color: var(--stark);
}

.titles {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: var(--black);
}

.section-9 .titles {
    color: var(--violeta);
    font-size: 2rem;
}

.section-9 .contenedor-boxes {
    border: 1px solid var(--violeta);
    background-color: var(--violeta);
    border-radius: 2em;
}

.section-9 h2 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--stark);
    font-weight: bold;
}

.section-9 p {
    color: var(--stark);
}

/* media query para mobile */
@media (max-width: 425px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    } 
}